<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-newton" version="0.0.1">
    <name>Newton</name>
    <description>Cordova Newton Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,newton</keywords>
    
    
    <platform name="android">
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <framework src="com.facebook.android:facebook-android-sdk:3.23.0" />
        <framework src="com.google.android.gms:play-services-gcm:8.3.0" />
        <framework src="com.squareup.okhttp3:okhttp:3.0.1" />

    </platform>
</plugin>